{% extends 'onlinebookshare/base.html' %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#">
                        {% if book_info.book_image %}
                            <img src="{{ book_info.book_image.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{ book_info.book_name }} <small>{{ book_info.category }}</small></h1>
                    <h2>{{ book_info.author_name }}</h2>

                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'onlinebookshare:addbook' %}">Add New Book</a></li>

            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Book Details</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Author Name</th>
                            <th>Publishing Year</th>
                        </tr>
                        <tr>
                            <th ><font color="#109565">{{ book_info.book_name }}</font></th>
                            <th><font color="#F34874">{{ book_info.category }}</font></th>
                            <th><font color="#109565">{{ book_info.author_name }}</font></th>
                            <th><font color="#F34874">{{ book_info.publishing_year }}</font></th>
                        </tr>

                        </thead>
                        <tbody>
                        {% for a in a %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <a target="_blank" href="{{ song.audio_file.url }}">
                                        <button type="button" class="btn btn-success btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="#" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}